{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template format_polizeinrw/local/content/cm/activity

    Display the activity content of a course module.
    
    Dies ist das Template für den Aktivitäts-Inhalt im Polizei NRW Format.
    Hier können wir das Layout der einzelnen Aktivitäten anpassen.

    Context variables required for this template:
    * cmname - The course module name data
    * hasname - Whether the module has a name
    * activitybadge - Badge information for the activity
    * dates - Activity dates information
    * completion - Completion information
    * groupmodeinfo - Group mode information
    * controlmenu - The control menu for editing
    * altcontent - Alternative content (description)
    * modavailability - Module availability information
    * afterlink - Content to display after the link
    * moveicon - The move icon for reordering (legacy)
    * visibility - Visibility information
}}
{{#moveicon}} {{{moveicon}}} {{/moveicon}}
<div class="activity-grid format-polizeinrw-activity-grid {{^hasname}}noname-grid{{/hasname}}">

    {{! Icon, Name & Badge }}
    {{#hasname}}
        {{#cmname}}
            {{$ core_courseformat/local/content/cm/cmname }}
                {{> core_courseformat/local/content/cm/cmname }}
            {{/ core_courseformat/local/content/cm/cmname }}
        {{/cmname}}
    {{/hasname}}

    {{! Dates }}
    {{#dates}}
        {{#hasdates}}
            <div data-region="activity-dates" class="activity-dates me-sm-2">
                {{#activitydates}}
                    {{$core_course/activity_date}}
                        {{>core_course/activity_date}}
                    {{/core_course/activity_date}}
                {{/activitydates}}
            </div>
        {{/hasdates}}
    {{/dates}}

    {{! Visibility }}
    {{$ core_courseformat/local/content/cm/badges }}
        {{> core_courseformat/local/content/cm/badges }}
    {{/ core_courseformat/local/content/cm/badges }}

    {{! Group mode }}
    {{#groupmodeinfo}}
        <div
            class="activity-groupmode-info align-self-start ms-sm-2"
            data-region="groupmode"
        >
            {{$ core_courseformat/local/content/cm/groupmode}}
                {{> core_courseformat/local/content/cm/groupmode}}
            {{/ core_courseformat/local/content/cm/groupmode}}
        </div>
    {{/groupmodeinfo}}

    {{! Completion }}
    {{#completion}}
        {{#hascompletion}}
            <div class="activity-completion align-self-start ms-sm-2">
                {{$ core_courseformat/local/content/cm/activity_info}}
                    {{> core_courseformat/local/content/cm/activity_info}}
                {{/ core_courseformat/local/content/cm/activity_info}}
            </div>
        {{/hascompletion}}
    {{/completion}}

    {{! Action menu }}
    {{#controlmenu}}
        <div class="activity-actions bulk-hidden align-self-start ms-sm-2">
            {{$ core_courseformat/local/content/cm/controlmenu }}
                {{> core_courseformat/local/content/cm/controlmenu }}
            {{/ core_courseformat/local/content/cm/controlmenu }}
        </div>
    {{/controlmenu}}

    {{! Description }}
    {{#altcontent}}
        <div class="activity-altcontent text-break {{#hasname}}activity-description{{/hasname}}">
            {{{altcontent}}}
        </div>
    {{/altcontent}}

    {{! Availability }}
    {{#modavailability}}
        {{$ core_courseformat/local/content/cm/availability }}
            {{> core_courseformat/local/content/cm/availability }}
        {{/ core_courseformat/local/content/cm/availability }}
    {{/modavailability}}

    {{! Afterlink }}
    {{#afterlink}}
        <div class="activity-afterlink afterlink d-flex align-items-center">
            {{{afterlink}}}
        </div>
    {{/afterlink}}
</div>

