{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template format_polizeinrw/local/content/section
    Displays a course section.
    
    Dies ist unser eigenes Section-Template für das Polizei NRW Format.
    Hier können wir die Section-Darstellung anpassen.
}}
<li id="section-{{num}}"
    class="section course-section main {{#onlysummary}} section-summary {{/onlysummary}} clearfix
            {{#ishidden}} hidden {{/ishidden}} {{#iscurrent}}{{^displayonesection}} current {{/displayonesection}}{{/iscurrent}}
            {{#isstealth}} orphaned {{/isstealth}} format-polizeinrw-section"
    data-sectionid="{{num}}"
    data-sectionreturnnum="{{sectionreturnnum}}"
    data-for="section"
    data-id="{{id}}"
    data-number="{{num}}"
    data-sectionname="{{sectionname}}"
    {{#isstealth}} data-orphan="true" {{/isstealth}}
>
    <div class="section-item polizeinrw-section-content">
        {{! Farbiger Balken links INNERHALB der Section mit optionalem Abschnittsbild }}
        <div class="polizeinrw-section-bar">
            {{#sectionimageurl}}
                <img src="{{sectionimageurl}}" 
                     alt="{{sectionname}}" 
                     class="polizeinrw-section-image"
                     loading="lazy">
            {{/sectionimageurl}}
        </div>
        
        <div class="polizeinrw-section-inner">
        {{$ format_polizeinrw/local/content/section/content }}
            {{> format_polizeinrw/local/content/section/content }}
        {{/ format_polizeinrw/local/content/section/content }}
        </div>
    </div>

    {{#insertafter}}
        {{#numsections}}
            {{$ core_courseformat/local/content/addsection}}
                {{> core_courseformat/local/content/section/addsectiondivider }}
            {{/ core_courseformat/local/content/addsection}}
        {{/numsections}}
    {{/insertafter}}
</li>

